version: '3.8'

services:
  db:
    image: postgres:15
    container_name: life_tracker_postgres
    restart: always
    environment:
      # These variables refer to the keys inside your .env file
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: life_tracker_backend
    depends_on:
      - db
    env_file: .env
    environment:
      # We force DB_HOST to 'db' so it uses the Docker network name
      - DB_HOST=db
    ports:
      - "5000:5000"
    volumes:
      - ./logs:/app/logs
volumes:
  postgres_data: